// --------------------------------------------------------------------- 
// Globals
// --------------------------------------------------------------------- 

/*
 * ------------------------------------------------------------------------------
 * Partials
 * ------------------------------------------------------------------------------
 */
@use './partials/css-variables.scss';

/*
 * ------------------------------------------------------------------------------
 * Scrollbar
 * ------------------------------------------------------------------------------
 */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-400) var(--color-secondary-900);
}

/* For WebKit-based browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: var(--color-secondary-900);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-400);
  border-radius: 50%;
  border: 0.25rem solid var(--color-secondary-900);
}