## ------------------------------------------------------------------------------------
## Next.js + Strapi | Development (example)
## ------------------------------------------------------------------------------------
## @updated 19/08/2025
## ------------------------------------------------------------------------------------

# ------------------------------------------
# Project
# ------------------------------------------

PROJECT_NAME=[PROJECT_NAME]
PROJECT_ENV=dev
PROJECT_VERSION=[PROJECT_VERSION]

# ------------------------------------------
# App
# ------------------------------------------
APP_HOST=127.0.0.1
APP_PORT=[APP_PORT]

# ------------------------------------------
# Api
# ------------------------------------------
API_HOST=127.0.0.1
API_PORT=[API_PORT]
API_VERSION=[API_VERSION]
API_PUBLIC_BASE_URL="http://${API_HOST}:${API_PORT}/${API_VERSION}"
API_INTERNAL_BASE_URL="http://${API_HOST}:${API_PORT}/${API_VERSION}"
API_APP_KEYS=[API_APP_KEYS]
API_TOKEN_SALT=[API_TOKEN_SALT]
API_JWT_SECRET=[API_JWT_SECRET]
API_ADMIN_JWT_SECRET=[API_ADMIN_JWT_SECRET]
API_TRANSFER_TOKEN_SALT=[API_TRANSFER_TOKEN_SALT]
API_ENCRYPTION_KEY=[API_ENCRYPTION_KEY]

# ------------------------------------------
# Database
# ------------------------------------------
DATABASE_HOST=127.0.0.1
DATABASE_NAME=${PROJECT_NAME}_db
DATABASE_USERNAME=${PROJECT_NAME}_root
DATABASE_PASSWORD=[DATABASE_PASSWORD]
DATABASE_PORT=[DATABASE_PORT]