// --------------------------------------------------------------------- 
// Globals
// --------------------------------------------------------------------- 

html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	scroll-behavior: smooth;	
}

*, *::before, *::after {
	cursor: none;
}